<article class="comment">
  <section class="comment-user-info">
    <h2>{{user.username}}</h2>
    <p class="comment-date">{{updatedAt}}</p>
  </section>
  <section class="comment-content">
    <p>{{content}}</p>
  </section>
</article>