<form>
    <div class="form-input">
        <label for="login-email">Email or Username</label>
        <input type="email" name="email" id="signup-email">
    </div>

    <div class="form-input">
        <label for="login-password">Password</label>
        <input type="password" name="password" id="login-password">
    </div>
    
    <button type="submit">Login</button>

    <a href="/signup">Don't have an account?</a>
</form>