@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

:root {
  --nav-text: black;
  --nav-text-hover: blue;

  --post-title-bg: hsl(226, 91%, 62%);

  --dashboard-post-bg: #A4A2A4;
  --dashboard-post-bg-hover: #EEB902;
}

* {
  font-family: 'Rubik', sans-serif;
}

body {
  padding: 0 2rem;
}

main {
  max-width: 75rem;
  margin: auto;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  max-width: 75rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  margin: 0;
  color: var(--nav-text);
  font-size: 1.3rem;
  font-weight: 500;
}

nav li:hover, nav a:hover {
  color: var(--nav-text-hover);
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: var(--nav-text);
}

#logo {
  font-size: 2rem;
  font-weight: 700;
}

.hamburger {
  display: none;
}

.error {
  border-color: red;
}

.hidden {
  display: none;
}


/* card styles */
.card {
  border-radius: .25rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.usertime {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.usertime p {
  font-weight: 500;
}


@media screen and (max-width: 700px) {
  nav, nav ul {
    flex-direction: column;
  }

  nav ul {
    margin-top: 2rem;
    text-align: center;
    padding: 0;
  }

  #logo {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
  }

  .hamburger {
    display: block;
  }

  .mobile-hide {
    display: none;
  }

}